## **useful links**
- [classification tutorial](https://github.com/pycaret/pycaret/blob/master/tutorials/Binary%20Classification%20Tutorial%20Level%20Beginner%20-%20%20CLF101.ipynb)
- [titanic prediction using Pycaret](https://www.kaggle.com/colearninglounge/titanic-prediction-using-pycaret)
- [titanic prediction, easy way](https://www.kaggle.com/servietsky/easy-way-titanic-pycaret)

In [ ]:
!pip install pycaret

In [1]:
import pandas as pd
from pycaret import classification

In [2]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [5]:
classification_setup = classification.setup(data=train_df,target='Survived', ignore_features = ['Ticket', 'Name', 'PassengerId'], silent = True)

In [6]:
classification.compare_models(classification.models().index.tolist())

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize=False, random_state=4062,
                solver='auto', tol=0.001)

In [8]:
classification.compare_models()

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=42, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [4]:
classification.compare_models(include=['gbc','lr','catboost'])

In [2]:
train_preprocessed = pd.read_csv('train.preprocessed.csv',usecols=range(8))
test_preprocessed = pd.read_csv('test.preprocessed.csv')

In [3]:
train_preprocessed.head(3)

   Survived  Pclass  Sex  Age  Fare  Embarked  Title  IsAlone
0         0       3    0    1     0         0      1        0
1         1       1    1    2     3         1      3        0
2         1       3    1    1     1         0      2        1

In [12]:
test_preprocessed.head(3)

   PassengerId  Pclass  Sex  Age  Fare  Embarked  Title  IsAlone  Age*Class
0          892       3    0    2     0         2      1        1          6
1          893       3    1    2     0         0      3        0          6
2          894       2    0    3     1         2      1        1          6

In [4]:
classification_setup = classification.setup(data=train_preprocessed,target='Survived', silent = True, remove_outliers=True,normalize=True)

In [5]:
classification.compare_models()

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=2914, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [8]:
catboost = classification.create_model('catboost')

In [10]:
tuned_catboost = classification.tune_model(catboost)

In [10]:

model = classification.create_model('rf')

In [11]:
tuned_model = classification.tune_model(model)